<div class="center containter">
  <h1 class="huge-red">
    Welcome to<br>My(Your)-Jams!!!!!!!!!!!!!!!!
  </h1>
</div>

<% @songs.each do |song| %>
<h4>Song: <%= song.title %></h4>
    Artist: <%= song.artist.name %><br>
    Owner: <%= song.user.username %>
<% end %>
